appdirs
CacheControl
cachetools
certifi
cffi
chardet
colorama
contextlib2
distlib
distro
firebase
firebase-admin
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
html5lib
httplib2
idna
ipaddr
lockfile
msgpack
packaging
pep517
progress
protobuf
pyasn1
pyasn1-modules
pycparser
pyparsing
pytoml
pytz
requests
retrying
rsa
six
uritemplate
urllib3
webencodings


scipy
pillow
flask
Flask-Cors